.popular__title {
  text-align: center;
  margin-top: 1em;
}

.popular__list {
  margin-block-start: 1em;
  list-style: none;
  display: grid;
  gap: 1.25em;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));

  & li {
    padding: .75em;
    border: 3px double white;
  }

  & a {
    color: white;
    text-decoration: none;
  }
}

.home__container {
  width: 90%;
  margin: 0 auto;
}