.home__container {
  width: 90%;
  margin: 3em auto;
  display: grid;
  grid-template-columns: 1fr .25fr;
  grid-template-areas: 'searcher searcher'
                         'last last'
                         'popular popular';
  gap: 2em;
}

/* Searhcer */
.searcher__wrapper {
  grid-area: searcher;
  --backColor-searcher: #374151;
  --buttonColor: #3c4095aa;
  --text-searcher: #1F2937;

  & .searcher__form {
    display: flex;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    border-radius: .75em;
    background-color: var(--backColor-searcher);
  }

  & .searcher {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #EFF0F5;
    color: var(--text-searcher);
    border-radius: inherit;
    padding-inline-start: .15em;

    & span {
      padding: .25em .5em;
      display: inline-flex;
    }

    & input {
      padding: .5em;
      border: 0;
      outline: 0;
    }

    & button {
      display: inline-block;
      height: 100%;
      padding: .25em .75em;
      border-radius: .25em;
      border: 0;
      background-color: var(--buttonColor);
      color: white;
      cursor: pointer;
    }
  }
}

/* Last gifs */
.last-gifs {
  grid-area: last;
  width: 100%;
  margin-block: 2em;
  min-height: 100vh;

  & h2 {
    font-size: 1.75rem;
    margin-block-end: 1em;
  }
}

/* Pupular gifs */
.popular__gifs {
  grid-area: popular;

  & .popular__title {
    margin-block-end: 1em;
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-areas: 'searcher searcher'
                       'last popular';
  }
}